/* no scrollbar*/
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE und Edge */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* body */
body {
  background: #033;
  color: #fff;
  padding: 25px;
  font-family: "Lucida Console", "Courier New", "monospace";
}

/* List */
ul {
  color: orange;
}

/* link*/
a:link {
  color: LawnGreen;
}

/* plain link */
.plain-link {
  color: inherit;          /* gleiche Textfarbe wie der umgebende Text */
  text-decoration: none;   /* entfernt die Unterstreichung */
  cursor: pointer;         /* zeigt trotzdem die Hand beim Darüberfahren */
}

/* visited link */
a:visited {
  color: MediumSpringGreen;
}

/* mouse over link */
a:hover {
  color: Aquamarine;
}

.hiddenlink a {
  color: white;
  text-decoration: none;
}

.hiddenlink a:hover {
  text-decoration: underline;
  color: Aquamarine;
}

.highlight {
  color: orange;
}

.toptier {
  color: coral;
}

.wrapper {
	background-color: lightblue;
	width: 501px;
}

.codecademy {
	background-color: yellow;
	width: 150px;
	float:left;
}

.cisco {
	background-color: green;
	margin-left: 200px;
	width: 300px;
}
