/* body */
body {
  background: #033;
  color: #fff;
  padding: 25px;
  font-family: "Lucida Console", "Courier New", "monospace";
}

/* List */
ul {
  color: orange;
}

/* plain link */
.plain-link {
  color: inherit;          /* gleiche Textfarbe wie der umgebende Text */
  text-decoration: none;   /* entfernt die Unterstreichung */
  cursor: pointer;         /* zeigt trotzdem die Hand beim Darüberfahren */
}

/* link*/
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: orange;
}

.fullstack {
  color: orange;
}

.codecademy a {
  color: white;
  text-decoration: none;
}
.codecademy a:hover {
  text-decoration: underline;
  color: orange;
}
