div {
  position: top, right;
}

h1 {
  position: absolute;
  width: 100%;
  height: 50%;
}

h1:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  line-height: 48px;
  left: 30%;
  top: 50%;
  animation: abomination1 4.5s linear 1;
  animation-fill-mode: forwards;
}


  @keyframes abomination1 {
  0% {
    content: "H";
  }
  9% {
    content: "He";
  }
  18% {
    content: "Hel";
  }
  27% {
    content: "Hell";
  }
  36% {
    content: "Hello";
  }
  47% {
    content: "Hello ";
  }
  56% {
    content: "Hello W";
  }
  64% {
    content: "Hello Wo";
  }
  73% {
    content: "Hello Wor";
  }
  81% {
    content: "Hello Worl";
  }
  90% {
    content: "Hello World";
  }
  100% {
    content: "Hello World!";
  }
